@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome to the Message Board!</h1>
  <p>Read some of the <a href="/messages">messages</a> from the message board!</p>
</div>